:root {
  --blue: #4275FF;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham-Medium.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham-Book.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham-Thin.otf');
  font-weight: 200;
  font-style: normal;
}
body {
  background-color: rgba(236, 244, 248, 0.98);
  font-family: "Gotham", "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 500px) {
  /*disable scrolling*/
  html, body {margin: 0; height: 100%; overflow: hidden}
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to   {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ant-input {
  border-radius: 25px;
  padding: 20px;
  border: 2px solid transparent;
  margin: 5px 0; /*top-5px bottom-0*/
  color: #4275FF;
}

.ant-input:hover {
  border-width: 2px;
}

.ant-input:focus {
  border: 2px solid #4275FF;
}

.ant-input::placeholder {
  color:#BECFFF;
}

.ant-btn {
  border-radius: 25px;
  border: 1px solid white;
  color: #4275FF;
}

.ant-btn:hover {
  border: 1px solid #4275FF;
  color: #4275FF;
}

.ant-btn:focus {
  border: 1px solid white;
  color: #4275FF;
}

.ant-btn-primary {
  background-color: #4275FF;
  border: 1px solid #4275FF;
  color: white;
}

.ant-btn-primary:hover {
  background-color: #4275FF;
  border: 1px solid white;
  color: white;
}

.ant-btn-primary:focus {
  border: 1px solid white;
  color: white;
}

.ant-btn-link,
.ant-btn-link:hover,
.ant-btn-link:focus {
  border:none;
}


/*** PAGINATION ***/

.ais-Pagination { 
  margin-top: 1em;
  text-align: center;
  color: var(--blue);
}

.ais-Pagination-link {
  border: none;
  border-radius: 50%;
  color: var(--blue);
  font-weight: 300;
}

.ais-Pagination-link:hover {
  background-color: rgba(131,206,255,0.15);
}

.ais-Pagination-item--selected .ais-Pagination-link:hover,
.ais-Pagination-item--selected .ais-Pagination-link:focus {
  color: var(--blue);
  font-weight: 600;
}

.ais-Pagination-item--nextPage .ais-Pagination-link,
.ais-Pagination-item--firstPage .ais-Pagination-link,
.ais-Pagination-item--previousPage .ais-Pagination-link,
.ais-Pagination-item--lastPage .ais-Pagination-link {
  font-size: 2.2rem;
  background-color: transparent;
  color: var(--blue);
  font-weight: 300;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: rgba(131,206,255,0.15);
  color: var(--blue);
  font-weight: 600;
}
