.hub__user-cont {
  width: 65vw;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 2vh;
  color: #4275FF;
  justify-content: center;
}

.hub__profile {
  width: 10%;
}

.hub__hook {
  width: 50vw;
  color: #4275FF;
  text-align: center;
  margin: 3vh auto 0 auto ;
  font-size: 2.3vw;
}

@media screen and (max-width: 500px) {
  .hub__user-cont {
    float: left;
    font-size: 5vw;
  }

  .hub__profile {
    width: 45%;
  }

  .hub__hook {
    width: 65vw;
    text-align: right;
    float: right;
    margin: 0 5vw 0 0;
    font-size: 7vw;
    font-weight: 600;
  }
}


.hub__actions {
  width: 50vw;
  height: 33vw;
  margin: 10vh auto 0 auto;
  text-align: center;
  position: relative;
  color: white;
  font-weight: 600;
  animation: fadein 1s;
}

.hub__donation-btn,
.hub__donation-btn p,
.hub__donation-btn span,
.hub__collection-btn,
.hub__collection-btn p,
.hub__collection-btn span,
.hub__voluntary-btn,
.hub__voluntary-btn p,
.hub__voluntary-btn span {
  cursor: pointer;
  position: absolute;
}

.hub__donation-btn .de0,
.hub__collection-btn .bc0,
.hub__voluntary-btn .vd0 {
  transition: all 0.5s ease;
}

.hub__user-cont:hover {
  cursor: pointer;
}

.hub__donation-btn:hover .de0,
.hub__collection-btn:hover .bc0,
.hub__voluntary-btn:hover .vd0 {
  transform: rotate(-0.5deg);
  transition: all 0.5s ease;
}

.hub__donation-btn {
  width: 45%;
  left: 0;
}

.hub__donation-btn p {
  font-size: 2vh;
  left: 20%;
  top: 43%;
}

.hub__donation-btn span {
  font-size: 3.5vh;
  left: 20%;
  top: 50%;
}

.hub__collection-btn {
  width: 65%;
  right: 0;
  top: -5vh;
}

.hub__collection-btn p {
  font-size: 3.5vh;
  right: 10%;
  top: 40%;
}

.hub__collection-btn span {
  font-size: 5vh;
  right: 10%;
  top: 47%;
}

.hub__voluntary-btn {
  width: 30%;
  left: 15%;
  bottom: -3%;
}

.hub__voluntary-btn p {
  font-size: 2vh;
  left: 20%;
  top: 38%;
}

.hub__voluntary-btn span {
  font-size: 3vh;
  left: 20%;
  top: 47%;
}

@media screen and (max-width: 500px) {
  .hub__actions {
    width: 100vw;
    height: 80vh;
    clear: both;
  }

  .hub__donation-btn {
    width: 75%;
    height: 80%;
    left: -25%;
    top: -10%;
  }

  .hub__donation-btn p {
    font-size: 4.5vw;
    left: 35%;
    top: 28%;
  }

  .hub__donation-btn span {
    font-size: 7vw;
    left: 35%;
    top: 33%;
  }

  .hub__collection-btn {
    width: 85%;
    right: -12%;
    top: 0%;
  }

  .hub__collection-btn p {
    font-size: 6vw;
    right: 20%;
    top: 38%;
  }

  .hub__collection-btn span {
    font-size: 9vw;
    right: 20%;
    top: 47%;
  }

  .hub__voluntary-btn {
    width: 60%;
    top: 35%;
    left: -10%;
  }

  .hub__voluntary-btn p {
    font-size: 4.5vw;
    left: 20%;
    top: 25%;
  }

  .hub__voluntary-btn span {
    font-size: 7vw;
    left: 20%;
    top: 30%;
  }
}

@media screen and (min-width: 768px) and (orientation:portrait) {
  .hub__user-cont {
    float: left;
    font-size: 4vw;
  }

  .hub__profile {
    width: 35%;
  }

  .hub__hook {
    width: 45vw;
    text-align: right;
    float: right;
    margin: 0 5vw 0 0;
    font-size: 5.5vw;
    font-weight: 600;
  }

  .hub__actions {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    clear: both;
  }

  .hub__donation-btn {
    width: 50%;
    height: 80%;
    left: 0%;
    top: -5%;
  }

  .hub__donation-btn p {
    left: 15%;
    top: 25%;
  }

  .hub__donation-btn span {
    left: 15%;
    top: 30%;
  }

  .hub__collection-btn {
    width: 70%;
    right: 0%;
    top: 0%;
  }

  .hub__collection-btn p {
    right: 10%;
    top: 40%;
  }

  .hub__collection-btn span {
    right: 10%;
    top: 47%;
  }

  .hub__voluntary-btn {
    width: 35%;
    left: 2%;
    top: 40%;
  }

  .hub__voluntary-btn p {
    left: 15%;
    top: 25%;
  }

  .hub__voluntary-btn span {
    left: 15%;
    top: 30%;
  }
}