.register__container {
  display: inline-flex;
}

.reg-decor {
  width: 60vw;
  display: flex;
  justify-content: center;
  animation: fadein 1s;
}

.reg-decor svg {
  width: 70%;
  height: 70%;
  margin-top: 20%;
}

.reg-form {
  width: 40vw;
  background-color: #c8e6fa;
  height: 100vh;
}

.reg-form .txt-decor > * {
  color: var(--blue);
  margin-left: 10%;
}

.reg-form > .txt-decor h1 {
  font-size: 4vw;
  margin-top: 20%;
}

.reg-form > .txt-decor p {
  font-size: 1.5vw;
}

.registration-fields-wrapper {
  margin: 8% 10% 0 10%;
}

.reg-form .password-fields,
.reg-form .reg-names {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.reg-form .password-fields .ant-form-item,
.reg-form .reg-names .ant-form-item {
  width: 48%;
}

.reg-form small {
  text-align: center;
}

.reg-form .register-btn {
  margin-top: 5vh;
  height: 6.5vh;
  width: 100%;
  font-size: 1.8vw;
  font-weight: bold;
}