.voluntary__header {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
.voluntary__container h2.ant-typography {
  width: calc(74% + 2.9vw);
  color: var(--blue);
}

.voluntary__container .voluntary__viewToggle--switch {
  font-weight: bold;
  height: 5vh;
  border: none;
  height: 5vh;
  width: 6vw;
  border: 3px solid var(--blue);
  background-color: #ECF4F8;
  margin-right: 10px;
}

.voluntary__viewToggle--switch .ant-switch-inner {
  color: var(--blue);
  font-size: 0.95vw;
  font-weight: bold;
}

.voluntary__viewToggle .ant-switch-checked {
  /* background-color: #ECF4F8; */
  background-color: var(--blue);
}


.voluntary__viewToggle .ant-switch-checked .ant-switch-inner {
  color: white;
}

.voluntary__viewToggle .ant-switch::after {
  width: 4vh;
  height: 4vh;
}

.voluntary__viewToggle .voluntary__viewToggle--label {
  color: var(--blue);
}

.voluntary__container .locationlistpagination__container {
  width: 75%;
  display: inline-block;
}

.voluntary__container .filter-column__container {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 995px) {
  .voluntary__container .locationlistpagination__container {
    width: 100%;
  }

  .voluntary__container .filter-column__container,
  .voluntary__container .voluntary__viewToggle {
    display: none;
  }
}