.collections__container h2.ant-typography {
  color: var(--blue);
  padding-left: 8px;
}

.collections__container .booklistpagination__container {
  width: 75%;
  display: inline-block;
}

.collections__container .filter-column__container {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 995px) {
  .collections__container .booklistpagination__container {
    width: 100%;
  }

  .collections__container .filter-column__container {
    display: none;
  }
}