.collections__header {
  background-color: #fff;
  padding: 0;
  height: 4vh;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.ant-select-selection--single {
  height: 100%;
  border-radius: 50px;
  font-size: 2vh;
}

.ant-select-selection__rendered {
  line-height: 3.5vh;
}

.collections__header-search {
  width: 70%;
  height: 100%;
  margin-right: 5%;
}

.collections__header-profile {
  width: 10%;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
}