/* .filter-column__container {
  margin-left: 5vw;
  color: var(--blue);
}

.filter-column__container p {
  font-size: 1.5vw;
}

.filter-column__container .ant-checkbox-wrapper {
  color: var(--blue);
  font-size: 1.2vw;
  margin-bottom: 1vh;
}

.filter-column__container .ant-checkbox-inner {
  border: 3px solid var(--blue);
  width: 20px;
  height: 20px;
} */