.locationlistpagination__container .ant-list-pagination {
  text-align: center !important;
  margin-bottom: 3.5vh;
}

.locationlistpagination__container .ant-list-item {
  box-shadow: 0 2px 3px 0 rgba(66,117,255,0.15);
  border-radius: 5px 0 25px 0;
}

.locationlistpagination__container .list-item__left-corner {
  width: 52%;
  background-color: var(--blue);
  border-radius: 5px 0 25px 0;
  color: white;
  text-align: center;
  position: relative;
}

.locationlistpagination__container .list-item__left-corner > p {
  font-size: 2vw;
  font-weight: 700;
  display: inline-block;
  margin: 5px 10% 10px 0;
}

.locationlistpagination__container .list-item__left-corner > div {
  display: inline-block;
  font-size: 0.7vw;
}

.locationlistpagination__container .list-item__left-corner > div > p {
  margin-bottom: 0;
  font-size: 0.85vw;
  font-weight: bold;
}

.locationlistpagination__container .list-item__distanceAway {
  position: absolute;
  right: 8%;
  top: 8%;
  color: var(--blue);
}

.locationlistpagination__container .list-item__locName {
  font-size: 1.6vw;
  color: var(--blue);
  margin-left: 10%;
  margin-top: 12px;
  padding-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.locationlistpagination__container .ant-pagination {
  color: var(--blue);
  font-weight: 300;
}

.locationlistpagination__container .ant-pagination-next a:not([aria-disabled="true"]),
.locationlistpagination__container .ant-pagination-prev a:not([aria-disabled="true"]) {
  border: 1px solid transparent;
  font-size: 1.5vw;
  color: var(--blue);
}

.locationlistpagination__container .ant-pagination-disabled {
  opacity: 0.4;
}

.locationlistpagination__container .ant-pagination-item-link:hover {
  background-color: rgba(131,206,255,0.15);
  border-radius: 25px;
}

.locationlistpagination__container .ant-pagination-item {
  border-radius: 25px;
  border: 1px solid transparent;
}

.locationlistpagination__container .ant-pagination-item a {
  color: var(--blue);
  font-weight: 600;
}

.locationlistpagination__container .ant-pagination-item-active {
  background-color: rgba(131,206,255,0.15);
}

.locationlistpagination__container .ant-pagination-item:hover {
  background-color: rgba(131,206,255,0.05);
}

