.header__profile:hover {
  cursor: pointer;
}

.header__profile span {
  vertical-align: middle;
  font-weight: bold;
  color: var(--blue);
  font-size: 1.5vw;
}

.header__profile span.ant-avatar {
  margin-right: 15px;
}


@media screen and (max-width: 995px) {
  .header__profile span {
    display: none;
  }
}

.donations__container .header__profile,
.voluntary__container .header__profile {
  display: block;
  width: 100vw;
  margin-left: calc(74% + 3.8vw);
  margin-top: 3.3vh;
  margin-bottom: 4.5vh;
}

.voluntary__container .header__profile {
  margin-left: calc(74% + 3vw);
}
