.ant-layout-sider {
  min-width: 19.5vw !important;
  font-family: 'Gotham';
  color: #4275FF;
  padding: 15px 25px 5px 20px;
}

.logo a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 1.5vh;
  color: var(--blue);
  width: 80%;
  transition: ease-in-out 0.15s background-color;
}

.logo a {
  border-radius: 25px;
  padding: 8px 25px 10px 0;
}

.logo a:hover {
  background-color: rgba(131,206,255,0.15);
}

/* .logo a span:after,
.logo a span:after {
  content: '';
  width: 0px;
  height: 3px;
  display: block;
  background: #4275FF;
  transition: 120ms;
  float: right;
}

.logo a:hover span:after,
.logo a:hover span:after {
  width: 100%;
} */



.sidebar__logo--svg {
  min-width: 60px;
  width: 25%;
  margin-right: 10px;
}

.sidebar__logo--title {
  font-size: 1.4vw;
  font-weight: 600;
}

@media screen and (max-width: 980px) {
  .sidebar__logo--title {
    display: none;
  }
}

.ant-menu {
  margin-top: 10px;
}

.ant-menu-vertical {
  border-right: 1px solid transparent;
}

.ant-menu-item .anticon {
  font-size: 2.5vh;
}

.ant-menu-vertical .ant-menu-item {
  border-radius: 35px;
  padding: 0 2vw;
  min-height: 45px;
  height: 6vh;
  line-height: 55px;
  font-weight: 600;
  font-size: 1.1vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.ant-menu-vertical .ant-menu-item:hover {
  background-color: rgba(131,206,255,0.15);
}

.ant-menu-item > a {
  color: #4275FF;
}

.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: white;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #4275FF;
}


